.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  margin: 0 auto;

  img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
  }
}