<div class="content mx-auto">
  <app-filter-panel
    (titleFilter)="onTitleFilterChange($event)"
    (statusFilter)="onStatusFilterChange($event)"
  ></app-filter-panel>

  <mat-list>
    <h3 mat-subheader>Tarefas</h3>
    <mat-divider></mat-divider>
    @if (pendingAndProgressTasks().length > 0) {
      @for (task of pendingAndProgressTasks(); track task.id) {
        <app-task-detail [task]="task"></app-task-detail>
        <mat-divider></mat-divider>
      }
    } @else {
      <p class="text-center">Nenhuma tarefa</p>
    }
  </mat-list>

  <div class="mt-5">
    <div class="d-flex justify-content-center">
      <mat-slide-toggle labelPosition="before" (change)="handleShowCompletedTasks($event)"
        >Mostrar Tarefas Concluídas</mat-slide-toggle
      >
    </div>
    @if (visibilityCompletedTasks()) {
      <mat-list>
        <h3 mat-subheader>Tarefas Concluídas</h3>
        <mat-divider></mat-divider>
        @for (task of completedTasks(); track task.id) {
          <app-task-detail [task]="task"></app-task-detail>
          <mat-divider></mat-divider>
        }
      </mat-list>
    }
  </div>

  <app-floating-button />
</div>
